@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: #FFE6EE;
    color: #3A3B3C;
    font-family: 'Mansalva', cursive;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

#container {
    display: flex;
    flex-direction: row;
    font-family: 'Noto Sans', sans-serif;
}

.section {
    flex: 1;
    padding: 1em;
    border: 1px solid grey;

}

form {
    border: 1px solid grey;
}

.display {
    height: 50px;
    font-size: larger;
}