@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: #FFE6EE;
    color: #3A3B3C;
    font-family: 'Mansalva', cursive;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

#container {
    display: flex;
    flex-direction: row;
    font-family: 'Noto Sans', sans-serif;
}

.section {
    flex: 1;
    padding: 1em;
    border: 1px solid grey;
    border-radius: 15px;
    margin: 1em;
    background-color:#FAF9F6;
    justify-content: center;
}

form {
    border: 1px solid grey;
    border-radius: 15px;
    margin: .5em;
    padding: .5em;
}

.display {
    height: 50px;
    font-size: larger;
}

#remaining-yarn {
    margin: .5em;
}

button {
    border-radius: 15px;
}

.displayDiv {
    border: 1px solid grey;
    border-radius: 15px;
    text-align: center;
    margin: 0 auto;
}

#topDisplayDiv {
    display: inline;
}

#radio-buttons {
    display: flex;
    flex-direction: column;
}