@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: #FFE6EE;
    color: #3A3B3C;
    font-family: 'Mansalva', cursive;
    max-width: 800px;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: row;
    font-family: 'Noto Sans', sans-serif;
}

.section {
    border: 1px solid grey;
    margin: auto 0;
    max-height: 400px;
    min-width: 300px;
}